{% extends "app_1/base.html" %}

{% block title %}
Formulario - Agregar Entrega
{% endblock %}

{% block content %}

<h1>Agregar Entrega</h1>
<form action="/formulario_entregas/" method="post">  <!-- Define la URL donde se enviará el formulario -->
    {% csrf_token %}  <!-- Protección contra ataques CSRF -->
    {{ form.as_p }}  <!-- Renderiza el formulario con los campos envueltos en etiquetas <p> -->
    <button type="submit">Enviar</button>  <!-- Botón para enviar el formulario -->
</form>

{% endblock %}
